.App {
  text-align: center;
}
.App > h1{
  padding: 30px 0;
  border: 1px solid;
}
.App_row{
  display: flex;
  justify-content: center;
  align-items: top;
  /* flex-direction: column; */
}
.App_row > div{
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border: 1px solid;
}
.App_row > div:last-child{
  flex:1;
}
.App_row > div > h2{
  padding: 10px;
}
